@model derrick_blog_app.Models.BlogPost
<!-- The model is considered the 'namespace'-->
@{
    ViewBag.Title = "Details";
}




<!-- ##### Single Blog Area Start ##### -->
<div class="single-blog-wrapper section-padding-0-100">

    <!-- Single Blog Area  -->
    <div class="single-blog-area blog-style-2 mb-50">
        <div class="single-blog-thumbnail">
            <!-- Image -->

            @if (Model.MediaUrl != null)
            {
                <img class="img-responsive" src="@Model.MediaUrl" alt="" />
            }
            <div class="post-tag-content">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="post-date">
                                <!-- Created Date -->
                                <a href="#"> <span>@Model.Created.ToString("MM/dd/yyyy")</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- ##### Post Content Area ##### -->
            <div class="col-12 col-lg-9">
                <!-- Single Blog Area  -->
                <div class="single-blog-area blog-style-2 mb-50">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <a href="#" class="post-tag">Lifestyle</a>
                        <div class="line"></div>
                        <!-- Title -->
                        <h4><a href="#" class="post-headline mb-0">@Model.Title Party people in the house</a></h4>
                        <div class="post-meta mb-50">
                            <!-- Author -->
                            <p>By james smith</p>
                            <p>3 comments</p>

                        </div>

                        <!-- Catagory tag -->
                        <!-- Abstract -->
                        <p class="abstract-content"> @Model.Abstract</p>
                        <!-- Body -->
                        @Html.Raw(Model.Body)

                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div> 