@using derrick_blog_app.Models;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<BlogPost>
<!-- functionally, you could seperate the namespace from the model here.
    it would look something like 'using: derrick_blog_app;'
    then you can add the IEnumerable model afterwords.

    other version: '(at)modelIEnumerable<derrick_blog_app.Models.BlogPost>'
    ALL VIEWS NEED A MODEL ALWAYS! model  view model view model view model view model view
    -->
@{
    ViewBag.Title = "Index";
}


<!-- THIS IS THE ONE I WILL REPEAT-->
<!-- Single Blog Area  -->







<div class="blog-wrapper section-padding-100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">

                @foreach (var item in Model)
                {
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1000ms">
                        <div class="row">
                            <div class="col-12">
                                <div class="single-blog-thumbnail">
                                    @if (item.MediaUrl != null)
                                    {
                                        <img class="img-responsive" src="@item.MediaUrl" alt="" />
                                    }
                                    <div class="post-date">
                                        <a href="#"><span>@item.Created.ToString("MM/dd/yyyy")</span><!--Posted date--></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <!-- Blog Content -->
                                <div class="single-blog-content mt-50">
                                    <div class="line"></div>
                                    <h4><a href="#" class="post-headline"><!-- title -->@item.Title</a></h4>
                                    <p><!-- abstract -->@item.Abstract</p>
                                    <div class="post-meta">                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- REPEATING DIV ENDS HERE -->

                    <!-- Link to read post -->
            <div class="load-more-btn mt-50 mb-100 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1000ms">
                @Html.ActionLink("Read Post", "Details", new { slug = item.Slug }, new { @class = "btn original-btn"} )

            </div>

                }

                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
                @Model.PageCount  @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
            </div>
        </div>
    </div>
</div>
